.hero-area-title {
  color: #29303b;
  font-weight: 700;
  margin: 10rem 0 0 0;
  font-size: 54px;
  line-height: 65px;
}
.hero-area-text {
  font-size: 18px;
  color: #686f7a;
  font-weight: 400;
  padding: 25px 0 25px;
  margin-bottom: 0;
}

.hero-area-person-image {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
